{% extends 'recruit_app/main.html' %}
{% block content %}
<style>
h1 {
    text-align:center
}

.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    color: #10a2ff;
    text-align:center
    cursor:pointer;
}

</style>
<h1>Welcome To Recruiter Home </h1>


<div>
<a href='{% url "recruiter" %}' class="clickme danger">Add Candidate</a>
</div>
<br/>
<div>
<a href='{% url "search" %}' class="clickme success">View Candidate</a>
</div>
<br/>
<div>
<a href='{% url "interview" %}' class="clickme warning">Schedule Interview</a>
</div>
<br/>
<div>
<a href='{% url "all_interview" %}' class="clickme info">Cancel Interview</a>
</div>
<br/>
{% comment %} <div>
<a href="http://www.studytonight.com/testimonials" class="clickme default">Testimonials</a>
</div>
<br/> {% endcomment %}
<p>Try clicking on any button </p>
{% endblock %}